---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Search the Blog" description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<aside class="form">
				<div>
					<label for="search">Search the Blog</label>
					<span>Enter a search term or phrase to search the blog.</span>
				</div>
				<input
					type="search"
					required
					min="2"
					max="24"
					name="search"
					id="search"
					placeholder="Enter a search term…"
				/>
			</aside>
			<p id="searchReadout"></p>
			<section aria-label="Search Results">
				<ul></ul>
			</section>
		</main>
		<Footer />
		<script>
			// imports
			import DOMPurify from "dompurify";

			// selectors
			const search = document.querySelector("#search");
			const searchReadout = document.querySelector("#searchReadout");

			// functions
			function updateDocumentTitle(search) {
				document.title = search
					? `Search results for “${search}”`
					: "Search the Blog";
			}

			function updateSearchReadout(search) {
				searchReadout.textContent = search
					? `Search results for “${search}”`
					: "";
			}

			// event listeners
			window.addEventListener("DOMContentLoaded", () => {
				const urlParams = DOMPurify.sanitize(
					new URLSearchParams(window.location.search).get("q")
				);
				updateDocumentTitle(urlParams);
				updateSearchReadout(urlParams);
				search.value = urlParams;
				search.focus();
			});

			search.addEventListener("input", () => {
				const searchTerm = DOMPurify.sanitize(search.value);
				updateDocumentTitle(searchTerm);
				updateSearchReadout(searchTerm);
			});
		</script>
	</body>
</html>
