<aside>
  <form class="form">
    <div>
      <label for="search">Search the Blog</label>
      <span>Enter a search term or phrase to search the blog.</span>
    </div>
    <input
      type="search"
      required
      min="2"
      max="24"
      name="search"
      id="search"
      placeholder="Enter a search term…"
    />
  </form>
</aside>

<script>
  import DOMPurify from "dompurify";
  const form = document.querySelector("form");
  form?.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const searchTerm = DOMPurify.sanitize(formData.get("search")?.toString());
    if (!searchTerm || searchTerm.length === 0) return;
    const url = new URL("/search", window.location.origin);
    url.searchParams.set("q", searchTerm);
    window.location.assign(url.toString());
  });
</script>
